<div class="page-container">
  <div class="sidebar-container">
    <div class="logo">
      <h3>AKORION</h3>
    </div>

    <div class="user-meta" >
      <div class="dropdown" dropdown>
        <button dropdownToggle class="btn dropdown-toggle" type="button" roboto>
          Isaac Obella <i class="icon-angle-down"></i>
          <span>Administrator</span>
        </button>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a href="#"><i class="icon-cog-alt"></i>Settings</a></li>
          <li><a href="#"><i class="icon-off"></i>Logout</a></li>
        </ul>
      </div>
    </div>

    <ul class="sidebar-nav" *ngFor="let menuItem of menuItems">
      <li routerLinkActive="active"><a [routerLink]="[menuItem.path]"><i [class]="menuItem.icon"></i>{{menuItem.title}}</a></li>
    </ul>
  </div>
  <!--  SIDEBAR END---->
  <!--  MAINPAGE START---->
  <div class="content-container">
    <div class="page-title">
      <div class="mobile-menu">
        <a href="#"><i class="icon-menu-1"></i></a>
      </div>
      <div class="pull-left">
        <h3>EzyMarketPlace</h3>

        <ol class="breadcrumb">
          <li><a href="#">{{getTitle()}}</a> </li>
        </ol>
      </div>
    </div>
        <router-outlet></router-outlet>
  </div>
</div>



